// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
  table.legs{
    tr:nth-child(1) .delete a{
      display: none;
    }
  
    td{
      border-bottom: 1px solid #ccc;
      padding: 10px 10px 10px 0;
    }
    input[name*='city']{
      width: 400px;
    }
    .delete a{
      margin-top: 10px;
    }
  }
}

table.show-legs{
  width: 400px;

  th,td{
    padding: 5px 2px;
  }
  
  th{
    color: #333;
    border-bottom: 1px solid #ccc;
  }
  
  .returning{
    color: #777;
    border-top: 1px solid #ccc;
  }
    
  th+th,td+td{
    text-align: right;
  }
  
  .color{
    width: 12px;
    height: 12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 1px;
    span{
      display: inline-block;
    }
  }
}

textarea{
  width: 400px;
}

li.trip{
  position: relative;
  list-style: none;
  
  .color{
    width: 22px;
    height: 22px;
    display: inline-block;
    position: absolute;
    left: -28px;
    top: 3px;
    border: 1px solid #aaa;
    
    span{
      display: inline-block;
      height: 20px;
    }
  }
}